.loginBox {
    text-align: left;
}

body{
    background-image: url(../images/mwcImage.PNG); 
    background-repeat: no-repeat; 
    background-size: 20cm, 20cm;
    background-position: center; 
    background-attachment: fixed;
}